.thead {
    background-color: black;
    color: white;
}

.name {
    padding-left: 10px;
    padding-right: 10px;
}

.color {
    padding-left: 12px;
    padding-right: 12px;
}

.description {
    padding-left: 12px;
    padding-right: 12px;
}

.soul {
    background-color: orange;
    color: black;
}

.time {
    background-color: green;
    color: black;
}

.space {
    background-color: blue;
    color: black;
}

.mind {
    background-color: yellow;
    color: black;
}

.reality {
    background-color: red;
    color: black;
}

.power {
    background-color: purple;
    color: black;
}

.img {
    margin: 10px 10px 10px 10px;
    height: 120px;
    width: 120px;
    border-radius: 25px;
}

