.cards {
    display: flex;
    flex-wrap: wrap;
}

.card_1, .card_2, .card_3, .card_4 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 270px;
    height: 140px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    text-align: right;
    font-family: Verdana;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
}

.card_1 {
    background: linear-gradient(#4568DC, #B06AB3);
}

.card_2 {
    background: linear-gradient(#e52d27, #b31217);
}

.card_3 {
    background: linear-gradient(to right, #000, #61045F);
}

.card_4 {
    background: linear-gradient(#e52d27, #000);
}

.alias, .name {
    margin-right: 7px;
}

.alias {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.name {
    color: rgba(255, 255, 255, 0.5);
    font-size: 9px;
}

.img_1, .img_2, .img_3, .img_4 {
    position: relative;
    height: 182px;
    width: 120px;
    left: 8px;
}

.img_1 {
    bottom: 52px;
}

.img_2 {
    width: 128px;
    bottom: 54px;
}

.img_3 {
    width: 98px;
    bottom: 52px;
}

.img_4 {
    width: 93px;
    bottom: 33px;
}

