#rainbow-block {
    height: 100px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#horn-block {
    position: relative;
    width: 0px;
    bottom: 40px;
    left: 100px;
    border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 80px solid grey;
}

