.field {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: lightgray;
}

.field::after, .field::before {
    content: "";
    position: absolute;
}

.field::after {
    height: calc(100% + 50px);
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    top: -25px;
    left: -1px;
}

.field::before {
    height: 100%;
    width: calc(100% + 50px);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: -1px;
    left: -25px;
}

