<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Card Game</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="server.js" defer></script>
        style
            include ../styles/stylegame.css
    </head>
    <body>
        <div id="imgblock">
            img(class = "avatar" src='' + choosenAvatar)
        </div>
        <div id="disablat">

        </div>
    </body>
</html>